<div>
    <div nz-row>
        <h3 nz-card-grid nzSpan="g" nz-col [ngStyle]="gridStyle">Balance:
            <span style="color: slateblue;">${{stats?.balance}}</span>
        </h3>
        <h3 nz-card-grid nzSpan="g" nz-col [ngStyle]="gridStyle">Total Income:
            <span style="color: green;">${{stats?.income}}</span>
        </h3>
        <h3 nz-card-grid nzSpan="g" nz-col [ngStyle]="gridStyle">Total Expense:
            <span style="color: red;">${{stats?.expense}}</span>
        </h3>
    </div>
    <div nz-row style="margin-top: 20px;">
        <div nz-col nzFlex="1 1 200px">
            <nz-card nzType="inner" nzTitle="Income Chart">
                <canvas #myIncomneChart></canvas>
            </nz-card>
        </div>
        <div nz-col nzFlex="0 1 300px" style="margin-left: 15px;">
            <nz-card nzType="inner" nzTitle="Recent History">
                <div nz-card-grid style="width: 100%;">
                    <span style="color: green;">+{{stats?.latestIncome?.amoount}} {{stats?.latestIncome?.title}}</span>
                </div>
                <div nz-card-grid style="width: 100%;">
                    <span style="color: red;">-{{stats?.latestExpense?.amoount}} {{stats?.latestExpense?.title}}</span>
                </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="Income">
                <div nz-row>
                    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">  <main>Minimum: {{stats?.minIncome}}</main></div>
                    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">|</div>
                    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Maximum: {{stats?.maxIncome}}</div>
                </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="Expense">
                <div nz-row>
                <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">  <main>Minimum: {{stats?.minExpense}}</main></div>
                <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">|</div>
                <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Maximum: {{stats?.maxExpense}}</div>
                </div>
            </nz-card>
        </div>
    </div>
    <div nz-row style="margin-top: 20px;">
        <div nzcol nzFlex="1 1 200px">
            <nz-card nzType="inner" nzTitle="Expense Chart">
                <canvas #myExpenseChart></canvas>
            </nz-card>
        </div>
    </div>
</div>
