.logo{
    display: flex;
    align-items: center;
    height: 60px;
    background: rgba(2555,255555,2555,0.2);
    margin: 16px;
    padding: 0 16px;
    color: white;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50;
    margin-right: 10px;
}

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info strong{
    font-size: 16px;
}

.user-info span{
    font-size: 13px;
}

.layout{
    min-height:100vh;
}

nz-sider{
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
}

.right-layout{
    margin-left: 200px;
}

nz-header{
    padding: 0;
    height: 75px;
}

nz-content{
    margin: 24px 16px 0;
    overflow: initial;
}

.inner-content{
    padding: 24px;
    background: white;
    text-align: center;
    text-decoration: black;
}

nz-footer{
    text-align: center;
}