<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <span nz-icon nzType="user" nzTheme="outline"></span>
      <div class="user-info"><strong>Root</strong></div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="menu">
      <li nz-menu-item  nzMatchRouter [routerLink]="['/']" (click)="selectMenu('dashboard')">
        <span nz-icon nzType="dashboard" nzTheme="outline"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/income']" (click)="selectMenu('income')">
        <span nz-icon nzType="fund" nzTheme="outline"></span>
        <span>Income</span>
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/expenses']" (click)="selectMenu('expense')">
        <span nz-icon nzType="fall" nzTheme="outline"></span>
        <span>Expense</span>
      </li>
    </ul>
  </nz-sider>

<nz-layout class="right-layout">
<nz-content> 
  <div class="inner-content">
    <router-outlet></router-outlet>
  </div>
</nz-content>
</nz-layout>

</nz-layout>